In [2]:
import pandas as pd
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', 'Moose', None]
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
3     None
dtype: object

In [6]:
numbers = [1, 2, 3, None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [7]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
         'Sumo': 'japan',
          'Tae': 'South Korea'}
pd.Series(sports)

Archery         Bhutan
Golf          Scotland
Sumo             japan
Tae        South Korea
dtype: object

In [10]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [11]:
s.values

array(['Tiger', 'Bear', 'Moose'], dtype=object)

In [12]:
s.index

Index(['India', 'America', 'Canada'], dtype='object')

In [13]:
s.keys

<bound method Series.keys of India      Tiger
America     Bear
Canada     Moose
dtype: object>

In [15]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
         'Sumo': 'japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hocky'])
s

Golf     Scotland
Sumo        japan
Hocky         NaN
dtype: object

In [17]:
s.iloc[2]

nan

In [18]:
s['Golf']

'Scotland'

In [19]:
sports = {99: 'Bhutan',
         100: 'Scotland',
         101: 'Japan',
         102: 'South Korea'
         }

In [22]:
s = pd.Series(np.random.randint(0, 1000, 10000))
# this prints the first 5 values from a big series of random numbers
s.head()

0    339
1    658
2    585
3    991
4     24
dtype: int32